bin/**
dep/**
!dep/cglm
!dep/tinycc
!dep/stb**
!dep/readme.md
test/**
res/**
!res/font**
!res/mo/
!res/mo/**
daily_clarity.md
mcmd.txt
**.spv
&&&.md
working.md
notes.md
src/temp/todelete.h
projects/**
!projects/cube_template**
!projects/empty_project**
background copy.jpg