[submodule "dep/cglm"]
	path = dep/cglm
	url = https://github.com/recp/cglm.git
[submodule "dep/tinycc"]
	path = dep/tinycc
	url = https://github.com/ShimmyShaman/tinycc.git
[submodule "projects/fsc"]
	path = projects/fsc
	url = https://github.com/ShimmyShaman/fsc.git