

# Personal
&&&.md
daily_clarity.md
mcmd.txt


# General
bin/**
dep/**
!dep/cglm
!dep/tinycc
!dep/stb**
!dep/readme.md
test/**
res/**
!res/font**
!res/shaders**
!res/mo/
!res/mo/**
**.spv
working.md
notes.md
src/temp/todelete.h
projects/**
!projects/cube_template**
!projects/empty_project**
background copy.jpg
